<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d475b4">  <td>20/03/15 21:19:42</td>   <td>0</td> <td title="&gt;&gt;ExtentReporterNG.beforeSuite(org.testng.ITestContext)[pri:0, instance:credential_rest.Get_Credential_Export@78dd667e]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1671846437</td>   <td></td> </tr>
<tr bgcolor="7af3c0">  <td>20/03/15 21:19:43</td>   <td>146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_Credential_Export.export_crdential_csv(java.lang.reflect.Method)[pri:0, instance:credential_rest.Get_Credential_Export@78dd667e]">export_crdential_csv</td> 
  <td>main@1671846437</td>   <td></td> </tr>
</table>
