<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>account_rest.Account_Set</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>post_create_site_info</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>put_update_site_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>get_QA_site_info</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>get_site_info</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>put_update_site_info</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>delete_Site_Info</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
