<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BugsSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9cea0">  <td>20/03/13 21:48:01</td>   <td>0</td> <td title="&gt;&gt;ExtentReporterNG.beforeSuite()[pri:0, instance:account_rest.Account_Set@27c86f2d]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1127224355</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>20/03/13 21:48:11</td>   <td>10140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Set.delete_Site_Info()[pri:6, instance:account_rest.Account_Set@27c86f2d]">delete_Site_Info</td> 
  <td>main@1127224355</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>20/03/13 21:48:08</td>   <td>6948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Set.get_QA_site_info()[pri:4, instance:account_rest.Account_Set@27c86f2d]">get_QA_site_info</td> 
  <td>main@1127224355</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>20/03/13 21:48:05</td>   <td>3748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Set.get_site_info()[pri:2, instance:account_rest.Account_Set@27c86f2d]">get_site_info</td> 
  <td>main@1127224355</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>20/03/13 21:48:02</td>   <td>177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Set.post_create_site_info(java.lang.reflect.Method)[pri:1, instance:account_rest.Account_Set@27c86f2d]">post_create_site_info</td> 
  <td>main@1127224355</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>20/03/13 21:48:07</td>   <td>5399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Set.put_update_site_info()[pri:3, instance:account_rest.Account_Set@27c86f2d]">put_update_site_info</td> 
  <td>main@1127224355</td>   <td></td> </tr>
<tr bgcolor="9abfd2">  <td>20/03/13 21:48:10</td>   <td>8473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Account_Set.put_update_site_name()[pri:5, instance:account_rest.Account_Set@27c86f2d]">put_update_site_name</td> 
  <td>main@1127224355</td>   <td></td> </tr>
</table>
